html{
    height: 100%;
}
body{
    display: flex;
    height: inherit;
}

.box{
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid #eee;
    transition: transform 0.2s;
}
    .box.target{
        border: 3px solid #ee3535;
    }